/* buttons */
.buttonDefault{

}
.buttonLogin{
    z-index: 1;
    padding: 10px 5px;
    background-color: transparent;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid white;
    width: 170px;
    transition: 1s ;
    color: white;
    backdrop-filter: blur(2px);
}
.buttonLogin:hover{
    transition: 1s;
    background-color: white;
    color: #3b3b3b;
}
.buttonCloseApp{
    z-index: 1;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 100%;
    border:none;
    color: #3b3b3b;
    transition:1s
}
.buttonCloseApp:hover{
    transition: 1s;
    background-color: #3b3b3b;
    color: white;
}
/* inputs */
input{outline:none}
.inputDefault{

}
.inputLogin{
    width: 70%;
    border:none;
    border-bottom: 1px solid black;
    padding:10px 7px;
    font-size: 17px;
    z-index: 2;
    background: transparent;
    color: white;
    transition:0.5s
}
::-webkit-input-placeholder{
    color:rgb(196, 196, 196)
}
.inputLogin:focus{
    background-color: rgb(53, 53, 53);
    transition: 0.5s;
}
