/* Fontes */
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
/* flex configs */
.flex{
    display: flex;
  }
  .flexCenter{
    justify-content: center;
    align-items: center;
  }
  .flexColumn{
    flex-direction: column;
  }
  .flexRow{
    flex-direction: row;
  }
  /* positions */
  .relative{
      position:relative
  }
  .absolute{
      position:absolute
  }